$border-styles: 1px solid #9797AF;

.add {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  width: 100%;
}

.add__inp {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: $border-styles;
  color: #2b2b30;
}

.add__btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: $border-styles;
  cursor: pointer;
  color: #fff;
  background-color: #0000FF;
  transition: 1s;

  &:hover {
    background-color: #000000;
  }
}