.choose__typeSort {
  display: flex;
  align-items: center;
  gap: 5px;
}

.typeSort__text {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 10px;
  color: #fff;
}