.notes__note {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.note__text {
    color: #000000;
}

.note__completedText {
    color: #8d8d8d;
    text-decoration: line-through;
}