.notes {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 80%;
    gap: 10px;

    &__note {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .note {
        &__text {
            color: #000000;
        }

        &__completedText {
            color: #8d8d8d;
            text-decoration: line-through;
        }
    }
}