$border-styles: 1px solid #9797AF;

%backimg {
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 100% 100%;
}

%rulebuttons {
    @extend %backimg;
    background-size: 30px 17px;
    padding: 5px 13px;
    background-color: #297EFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
        background-color: #000000;
    }
}

.notes {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 80%;
    gap: 10px;

    &__note {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .note {
        &__text {
            color: #000000;
        }

        &__completedText {
            color: #8d8d8d;
            text-decoration: line-through;
        }

        &__management {
            display: flex;
            gap: 5px;
        }

        &__editNote {
            display: flex;
            width: 80%;
            justify-content: space-between;
        }

        .editNote {
            &__inp {
                width: 90%;
                padding: 0px 10px;
                border-radius: 20px;
                border: $border-styles;
                color: #2b2b30;
            }

            &__save {
                background-image: url(../../img/save.svg);
                @extend %rulebuttons;
            }
        }
    }

    .management {
    
        &__delete {
            background-image: url(../../img/delete.svg);
            @extend %rulebuttons;
        }
    
        &__edit {
            background-image: url(../../img/edit.svg);
            @extend %rulebuttons;
        }
    
        &__statusOk {
            background-image: url(../../img/inProgress.svg);
            @extend %rulebuttons;
        }

        &__statusClose {
            background-image: url(../../img/completed.svg);
            @extend %rulebuttons;
        }
    }
}