$border-styles: 1px solid #9797AF;

%backimg {
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 100% 100%;
}

%rulebuttons {
    @extend %backimg;
    background-size: 30px 17px;
    padding: 5px 13px;
    background-color: #297EFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
        background-color: #000000;
    }
}

.editNote {
    display: flex;
    width: 80%;
    justify-content: space-between;
    &__inp {
        width: 90%;
        padding: 0px 10px;
        border-radius: 20px;
        border: $border-styles;
        color: #2b2b30;
    }

    &__save {
        background-image: url(../../img/save.svg);
        @extend %rulebuttons;
    }
}